.textarea {
	border: 1px solid var(--primary);
	background-color: var(--light);
	color: var(--dark);
	font-size: 18px;
	border-radius: 20px;
	padding: 10px 15px;
	resize: none;
	min-height: 130px;
	&:focus {
		outline: none;
	}
	&:disabled {
		opacity: 0.5;
		cursor: default;
	}
	&:read-only {
		background-color: var(--ghost);
	}
}
